body {
  background-image: url(bg.jpeg);
  background-size: cover;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

.fa-github,
.fa-linkedin,
.fa-html5,
.fa-css3,
.fa-js-square,
.fa-bootstrap,
.fa-sass,
.fa-git-alt,
.fa-sketch {
  color: #b16960;
  margin: 0.5em;
  transition: all 0.2s;
  transform-origin: 50% 50%;
}
.fa-html5:hover,
.fa-css3:hover,
.fa-js-square:hover,
.fa-bootstrap:hover,
.fa-sass:hover,
.fa-git-alt:hover,
.fa-sketch:hover {
  transform: scale(1.2);
}

/* SECTIONS */

#landing {
  height: 100%;
}

#projects {
  background-color: #244553;
}

#projects h1 {
  padding: 1em;
  position: absolute;
  text-decoration-line: #a5a5a5;
}

.container-fluid {
  background-color: #244553;
  padding: 2em;
  width: 100%;
}

.card-bg-dark {
  margin: 5em;
  height: 28em;
  border-radius: 5px;
  background-color: white;
  padding: 2em;
}

.card-title {
  color: #1a1a1a;
}

.card-img {
  float: left;
  width: 50%;
  margin: 1em;
}

.card-text {
  color: #244553;
}

.fp-slides p {
  font-size: 15px;
  padding: 0;
}

h1 {
  text-align: center;
  font-size: 2.5em;
}

h2 {
  text-align: center;
  font-size: 1.5em;
}

h4 .fp-controlArrow {
  margin: 0;
}

footer {
  padding: 1em;
}

footer a {
  font-size: 1em;
  color: #61898d;
  transition: 0.4s ease;
  text-decoration: none;
  text-shadow: none;
}

footer a:hover {
  transition: 0.4s ease;
  text-decoration: none;
}

/* NAV

.logo {
  width: 15vh;
  margin: 0;
  padding: 0;
}

#header {
  position: fixed;
  background-color: #eee;
  width: 100%;
  height: 15vh;
  z-index: 99;
}

ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

ul li {
  display: inline;
  padding: 2em;
}

ul li a {
  color: #71a0a59d;
  font-size: 1.5em;
  text-transform: uppercase;
  transition: 0.4s ease;
}

ul li a:hover {
  color: #71a0a5;
  transition: 0.4s ease;
} */

/* LANDING ICONS */

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-fluid {
  justify-content: center;
  background-color: #244553;
  width: 75%;
  box-shadow: 10px 10px 7px #dadada;
}

h1,
h2 {
  display: flex;
  font-size: 5em;
  justify-content: center;
  color: #eeeeee;
  font-family: "Playfair Display SC";
}

h2 {
  color: #71a0a5;
}

p {
  color: #eeeeee;
  justify-content: center;
  font-family: "Zilla Slab";
}

.slide p {
  padding: 0 5em 0 0;
}

hr {
  width: 25%;
}

/* CODE BUTTON DIV */

h4 {
  font-family: "Playfair Display SC";
  font-weight: 900;
  font-style: italic;
  font-size: 1.5em;
  color: #32484ba8;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 0.5em 1em;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1;
  color: #eee;
  text-align: center;
  background-color: #b16960;
  border-radius: 5px;
  transition: 0.4s ease;
  margin: 0;
  font-family: "Playfair Display SC";
}

.badge:hover {
  background-color: #884940;
  transition: 0.4s ease;
}

#down {
  margin: 5% 50%;
  color: white;
  transition: 0.4s ease;
}

#down:hover {
  color: #eeeeee;
  transition: 0.4s ease;
  transform: translateY(10px);
}

/* ABOUT PAGE */

#about {
  overflow-y: auto;
  text-align: center;
  text-shadow: 1px 1px 1.5px rgba(0, 0, 0, 0.178);
}

#aboutBox {
  height: 90%;
}

#langs {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.877);
}

.carl {
  font-size: 2em;
}

#about b {
  font-weight: 900;
  color: #b16960;
}

#about p {
  margin: 0;
  font-size: 1.5em;
  padding: 1em;
}

#about h3 {
  margin: 0;
  padding: 1em;
  color: rgb(255, 255, 255);
  letter-spacing: 5px;
  font-family: "Playfair Display SC";
}

.str {
  font-family: "Zilla Slab";
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
  text-transform: uppercase;
  margin: 0;
  padding: 2em;
  color: white;
}

.str li {
  padding: 1.5em;
  border-radius: 5px 5px 5px;
  background-color: rgba(207, 207, 207, 0.164);
  text-decoration: white;
}

/* MEDIA QUERIES */

/* TABLET */

@media only screen and (max-width: 64em) {
  body {
    max-width: 100%;
  }
}

/* MOBILE */

@media only screen and (max-width: 37.5em) {
  .container-fluid {
    background-color: #244553;
    width: 100%;
  }

  .card-bg-dark {
    margin: 2em;
  }

  .card-bg-dark {
    border-radius: 5px;
    background-color: white;
    padding: 2em;
  }

  .fp-slides p {
    font-size: 15px;
    padding: 0;
  }

  .card-img {
    width: 100%;
    padding: 0;
  }

  #projects h1 {
    margin: 0;
    text-align: center;
  }

  .badge {
    margin: 0;
  }

  h1 {
    text-align: center;
    font-size: 2.5em;
  }

  h2 {
    text-align: center;
    font-size: 1.5em;
  }

  .str {
    margin: 0;
    padding: 0;
  }

  .str li {
    font-size: 1em;
    margin: 1em;
    padding: 0.5em;
  }
}
